<!-- <h2>Login</h2>

<form class="ui form" (submit)="loginUser($event)">
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" id="login-username" placeholder="Username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" id="login-password" placeholder="Password">
  </div>
  <button class="ui button" type="submit">Login</button>
</form>
<a routerLink='/forgotpassword'>Forgot Password?</a> -->


<div class="pf_main_cont">
    <h1 class="ui header pf_header">
        Perfolio
        <button class="ui primary button" routerLink='/signup' id="signup_btn">Sign Up
        </button>
    </h1>
    <div class="pf_signup_cont" id="login_block">
        <h2 class="pf_signup_header">Login</h2>
        <form class="ui form" (submit)="loginUser($event)">
            <div class="field">
                <!-- <label>Username</label> -->
                <input type="text" id="login-username" name="username" placeholder="Username">
            </div>
            <div class="field">
                <!-- <label>Password</label> -->
                <input type="password" id="login-password" name="password" placeholder="Password">
            </div>
            <div class="field pf_forgot_pass">
                <span><a routerLink='/forgotpassword'>Forgot Password?</a></span>
            </div>
            <button class="fluid ui primary button" type="submit">Login</button>
        </form>
    </div>
</div>