<div class="pf_main_cont">
    <h1 class="ui header pf_header">
        Perfolio
        <button class="ui primary button" routerLink='/login' id="login_btn">Login
        </button>
    </h1>
    <div class="pf_signup_cont" id="reset_pass_block">
        <h2 class="pf_signup_header">Reset Password</h2>
        <form class="ui form" (submit)="resetPassword($event)">
            <div class="field">
                <!-- <label>Email</label> -->
                <input type="text" name="email" id="email" placeholder="EmailAddress">
            </div>
            <button class="fluid ui primary button" type="submit">Reset Password</button>
        </form>
    </div>
</div>
