body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.ui.grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.pf_header {
    padding: 20px 40px;
    background-color: #fff;
    margin-bottom: 0;
}
.pf_main_cont {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('https://s31.postimg.cc/hp2d796xn/blackboard-business-chalkboard-355988.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.pf_signup_cont {
    width: 300px;
    position: absolute;
    top: calc(50% - 60px);
    right: 100px;
    background-color: #fff;
    padding: 30px;
    border-radius: 4px;
}
.pf_signup_header {
    text-align: center;
}
#login_btn {
    float: right;
    margin-right: 40px;
}

@media screen and (max-width: 768px) {
    .pf_signup_cont {
        right: calc(50% - 150px);
    }
    #login_btn {
        margin-right: 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .pf_signup_cont {
        width: 450px;
        left: calc(50% - 225px);
    }
}