<div class="pf_main_cont">
    <h1 class="ui header pf_header">
        Perfolio
        <button class="ui primary button" routerLink='/login' id="login_btn">Login
        </button>
    </h1>
    <div class="pf_signup_cont" id="signup_block">
        <h2 class="pf_signup_header">SignUp</h2>
        <form class="ui form" (submit)="signupUser($event)">
            <div class="field">
                <!-- <label>Username</label> -->
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
            <div class="field">
                <!-- <label>Email Address</label> -->
                <input type="text" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="field">
                <!-- <label>Password</label> -->
                <input type="password" id="password1" name="password" placeholder="Password">
            </div>
            <div class="field">
                <!-- <label>Confirm Password</label> -->
                <input type="password" id="password2" name="confpass" placeholder="Confirm Password">
            </div>
            <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>I agree to the Terms and Conditions</label>
                </div>
            </div>
            <button class="fluid ui primary button" type="submit">SignUp</button>
        </form>
    </div>
</div>