<div class="pf_main_cont">
    <h1 class="ui header pf_header">
        <div class="ui grid">
            <div class="six wide column pf_heading">Perfolio
            </div>
            <div class="ten wide column" id="login_block">
                <form class="ui form" (submit)="loginUser($event)">
                    <div class="ui grid">
                        <div class="six wide column">
                            <div class="field">
                                <input type="text" id="login-username" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="six wide column">
                            <div class="field">
                                <input type="password" id="login-password" name="password" placeholder="Password">
                                <span><a routerLink='/forgotpassword'>Forgot Password?</a></span>
                            </div>
                        </div>
                        <div class="four wide column">
                            <button type="submit" class="ui primary button">Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </h1>
    <div class="pf_signup_cont" id="signup_block">
        <h2 class="pf_signup_header">SignUp</h2>
        <form class="ui form" (submit)="signupUser($event)">
            <div class="field">
                <!-- <label>Username</label> -->
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
            <div class="field">
                <!-- <label>Email Address</label> -->
                <input type="text" id="email" name="email" placeholder="Email Address">
            </div>
            <div class="field">
                <!-- <label>Password</label> -->
                <input type="password" id="password1" name="password" placeholder="Password">
            </div>
            <div class="field">
                <!-- <label>Confirm Password</label> -->
                <input type="password" id="password2" name="email" placeholder="Confirm Password">
            </div>
            <div class="field">
                <div class="ui checkbox">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label>I agree to the Terms and Conditions</label>
                </div>
            </div>
            <button class="fluid ui primary button" type="submit">SignUp</button>
        </form>
        <!-- <app-signup></app-signup> -->
    </div>
    <div class="pf_mobile_cont">
        <a class="fluid ui primary button" type="submit" routerLink='/login' id="index_login_btn">Login</a>
        <a class="fluid ui primary button" type="submit" routerLink='/signup' id="index_signup_btn">SignUp</a>
    </div>
</div>